/*-----------------------------------------------------------------------------------------
                            GetTournament
-----------------------------------------------------------------------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #EDEDED;
}
.topbar{
    height : 15%;
    width: 700px;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 20px;
    background-color: #1365c4;
    padding: 16px 20px 16px 36px;
    text-align : center;
}

.sidebar{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 700px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 15%; /* Stay at the top */
    left: 0%;
    right: 20px;
    overflow-x: hidden; /* Disable horizontal scroll */
    background-color: #171717;
    padding: 16px 20px 16px 36px;   
}

.block1{
    background-color: #1365c4;
    padding: 10px;
    border-radius : 5px;
}

.block2{
    background-color: #1365c4;
    padding: 10px;
    border-radius : 5px;
}

.block3{
    background-color: #1365c4;
    padding: 10px;
    border-radius : 5px;
}

.rightbar{
    margin-left: 800px;
    color: #000000;
}

.searchbar{
    width: 100%;
    columns: 2;
    display: flex;
    align-items: center;
}

.searchbar-left{
    width: 50%;
}

.searchbar-left input{
    border: 0;
    border : 2px solid #000000;
}

.searchbar-right{
    width: 50%;
    border : 1px solid #000000;
    border-radius : 5px
}

.Input{
    height: 30px;
    width: 90%;
    border-radius: 10px;
    border : 2px solid #000000;
}

.Select{
    border-radius: 5px;
    border : 1px solid #000000;
    color: #000000;
}

.Picker{
    border-color : #000000;
}

.Range{
    width: 100%;
    display: flex;
    align-items: center;
}

.DropDown{
    width: 100%;
}

input
{
    font-size:24px;
    font-family: 'Roboto', sans-serif;
}

h3{
    padding: 0px 20px;
}

.IDbar{
    color :#000000;
}

/*-----------------------------------------------------------------------------------------
                            Tournament
-----------------------------------------------------------------------------------------*/
.principalBar{
    color :#000000;
    width: 100%;
    margin: 0 auto;
}
/*-----------------------------Name--------------------------------*/
.NameGameInfo{
	position: relative;
    height: 60px;
}

.row2{
    position: absolute;
	right: 5px;
	top: 5px;
	width: 94%;
	bottom: 5px;
}

.row1{
    background-color: #1365c4;
	position: absolute;
	left: 5px;
	top: 5px;
	right: 0px;
	bottom: 5px;
    width: 5%;
}

/*-----------------------------Adresse--------------------------------*/
.AdresseInfo{
    position: relative;
    height: 60px;
}

.row4{
	position: absolute;
	right: 5px;
	top: 5px;
	width: 90%;
	bottom: 5px;
}

.row3{
	position: absolute;
	left: 5px;
	top: 5px;
	right: 0px;
	bottom: 5px;
}

/*-----------------------------Attendees--------------------------------*/
.AttendeesInfo{
    position: relative;
    height: 60px;
}

.row6{
	position: absolute;
	right: 5px;
	top: 5px;
	width: 73%;
	bottom: 5px;
}

.row5{
	position: absolute;
	left: 5px;
	top: 5px;
	right: 20%;
	bottom: 5px;
}

/*-----------------------------Start--------------------------------*/
.StartInfo{
    position: relative;
    height: 60px;
}

.row8{
	position: absolute;
	right: 5px;
	top: 5px;
	width: 92%;
	bottom: 5px;
}

.row7{
	position: absolute;
	left: 5px;
	top: 5px;
	right: 0px;
	bottom: 5px;
}

/*-----------------------------End--------------------------------*/
.EndInfo{
    position: relative;
    height: 60px;
}

.row10{
	position: absolute;
	right: 5px;
	top: 5px;
	width: 94%;
	bottom: 5px;
}

.row9{
	position: absolute;
	left: 5px;
	top: 5px;
	right: 0px;
	bottom: 5px;
}

/*-----------------------------URL--------------------------------*/
.urlInfo{
    position: relative;
    height: 60px;
}

.row12{
	position: absolute;
	right: 5px;
	top: 5px;
	width: 94%;
	bottom: 5px;
}

.row11{
	position: absolute;
	left: 5px;
	top: 5px;
	right: 0px;
	bottom: 5px;
}

/*-----------------------------ID Bar--------------------------------*/
.IDbar{
    color: #EDEDED;
    background-color: #1365c4;
    padding: 10px;
}
